body{
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}

nav{
    background-color: blue;
    padding: 10px;
}

nav a{
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

h1{
    color: darkblue;
}